/* ==========================
   BANNER
========================== */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
    padding-top: 70px;
    text-align: center;
}

.banner .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 5px;
}

.banner .mobile-image {
    display: block;
    width: 130px;
    height: 130px;
    animation: fadeInDown .8s ease;
}

@keyframes fadeInDown {

    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.banner .banner-image {
    display: none;
}

.banner .box .title1 {
    font-size: var(--font-size-3);
    color: #000;
}

.banner .box .title2 {
    font-size: 2rem;
    display: block;
    max-width: 800px;
    color: var(--background-color-1);
}

.banner .box .paragraph {
    margin: 15px 0;
    font-size: var(--font-size-5);
    font-weight: 400;
    color: var(--background-color-1);
}

/* ==========================
   BOTÕES
========================== */

.banner .box .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
    justify-content: space-evenly;
}

.banner .box .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 170px;
    border-radius: 35px;
    margin: 0 5px 15px;
    font-size: var(--font-size-4);
    font-weight: 700;
    background: #000;
    color: #ffffff;
}

.banner .box .buttons a:hover {
    background: var(--color-blue-1);
}

/* ==========================
   RESPONSIVO
========================== */

@media (min-width: 768px) {

    .banner .banner-image {
        display: block;
        width: 400px;
        height: 400px;
    }

    .banner .mobile-image {
        display: none;
    }
    
}    
